[Unit]
Description=Launcher for the ROS master, parameter server and rosout logging node
After=network.target

[Service]
User=mcp
EnvironmentFile=/etc/default/roscore
ExecStart=/opt/ros/kinetic/bin/roscore -p $ROS_PORT
Restart=on-abort

[Install]
WantedBy=multi-user.target
